In [1]:
# connect to google dirve

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 두 벡터의 distance
def distance(a,b) :
  return (sum((a-b)**2))**(1/2)

In [ ]:
# color chip 데이터
colors =[["#FFEBEE", "#FFCDD2", "#EF9A9A", "#E57373", "#EF5350", "#F44336", "#E53935", "#D32F2F", "#C62828", "#B71C1C"],
["#FCE4EC", "#F8BBD0", "#F48FB1", "#F06292", "#EC407A", "#E91E63", "#D81B60", "#C2185B", "#AD1457", "#880E4F"],
["#F3E5F5", "#E1BEE7", "#CE93D8", "#BA68C8", "#AB47BC", "#9C27B0", "#8E24AA", "#7B1FA2", "#6A1B9A", "#4A148C"],
["#EDE7F6", "#D1C4E9", "#B39DDB", "#9575CD", "#7E57C2", "#673AB7", "#5E35B1", "#512DA8", "#4527A0", "#311B92"],
["#E8EAF6", "#C5CAE9", "#9FA8DA", "#7986CB", "#5C6BC0", "#3F51B5", "#3949AB", "#303F9F", "#283593", "#1A237E"],
["#E3F2FD", "#BBDEFB", "#90CAF9", "#64B5F6", "#42A5F5", "#2196F3", "#1E88E5", "#1976D2", "#1565C0", "#0D47A1"],
["#E1F5FE", "#B3E5FC", "#81D4FA", "#4FC3F7", "#29B6F6", "#03A9F4", "#039BE5", "#0288D1", "#0277BD", "#01579B"],
["#E0F7FA", "#B2EBF2", "#80DEEA", "#4DD0E1", "#26C6DA", "#00BCD4", "#00ACC1", "#0097A7", "#00838F", "#006064"],
["#E0F2F1", "#B2DFDB", "#80CBC4", "#4DB6AC", "#26A69A", "#009688", "#00897B", "#00796B", "#00695C", "#004D40"],
["#E8F5E9", "#C8E6C9", "#A5D6A7", "#81C784", "#66BB6A", "#4CAF50", "#43A047", "#388E3C", "#2E7D32", "#1B5E20"],
["#F1F8E9", "#DCEDC8", "#C5E1A5", "#AED581", "#9CCC65", "#8BC34A", "#7CB342", "#689F38", "#558B2F", "#33691E"],
["#F9FBE7", "#F0F4C3", "#E6EE9C", "#DCE775", "#D4E157", "#CDDC39", "#C0CA33", "#AFB42B", "#9E9D24", "#827717"],
["#FFFDE7", "#FFF9C4", "#FFF59D", "#FFF176", "#FFEE58", "#FFEB3B", "#FDD835", "#FBC02D", "#F9A825", "#F57F17"],
["#FFF8E1", "#FFECB3", "#FFE082", "#FFD54F", "#FFCA28", "#FFC107", "#FFB300", "#FFA000", "#FF8F00", "#FF6F00"],
["#FFF3E0", "#FFE0B2", "#FFCC80", "#FFB74D", "#FFA726", "#FF9800", "#FB8C00", "#F57C00", "#EF6C00", "#E65100"],
["#FBE9E7", "#FFCCBC", "#FFAB91", "#FF8A65", "#FF7043", "#FF5722", "#F4511E", "#E64A19", "#D84315", "#BF360C"],
["#EFEBE9", "#D7CCC8", "#BCAAA4", "#A1887F", "#8D6E63", "#795548", "#6D4C41", "#5D4037", "#4E342E", "#3E2723"],
["#FAFAFA", "#F5F5F5", "#EEEEEE", "#E0E0E0", "#BDBDBD", "#9E9E9E", "#757575", "#616161", "#424242", "#212121"],
["#ECEFF1", "#CFD8DC", "#B0BEC5", "#90A4AE", "#78909C", "#607D8B", "#546E7A", "#455A64", "#37474F", "#263238"],
["#CDCDCD", "#B2B2B2", "#979797", "#7D7D7D", "#646464", "#4C4C4C", "#363636", "#202020", "#090909", "#000000"]]

In [ ]:
rgb_dec_colors = [[0 for j in range(3)] for i in range(200)]

In [ ]:
# hex to dec
row = 0
for i in range(len(colors)) :
  for j in range(len(colors[0])) :
    hex = colors[i][j]
    R = float(int('0x'+hex[1:3],16))
    G = float(int('0x'+hex[3:5],16))
    B = float(int('0x'+hex[5:7],16))
    rgb_dec_colors[row][0] = R
    rgb_dec_colors[row][1] = G
    rgb_dec_colors[row][2] = B
    row += 1
print(rgb_dec_colors)

[[255.0, 235.0, 238.0], [255.0, 205.0, 210.0], [239.0, 154.0, 154.0], [229.0, 115.0, 115.0], [239.0, 83.0, 80.0], [244.0, 67.0, 54.0], [229.0, 57.0, 53.0], [211.0, 47.0, 47.0], [198.0, 40.0, 40.0], [183.0, 28.0, 28.0], [252.0, 228.0, 236.0], [248.0, 187.0, 208.0], [244.0, 143.0, 177.0], [240.0, 98.0, 146.0], [236.0, 64.0, 122.0], [233.0, 30.0, 99.0], [216.0, 27.0, 96.0], [194.0, 24.0, 91.0], [173.0, 20.0, 87.0], [136.0, 14.0, 79.0], [243.0, 229.0, 245.0], [225.0, 190.0, 231.0], [206.0, 147.0, 216.0], [186.0, 104.0, 200.0], [171.0, 71.0, 188.0], [156.0, 39.0, 176.0], [142.0, 36.0, 170.0], [123.0, 31.0, 162.0], [106.0, 27.0, 154.0], [74.0, 20.0, 140.0], [237.0, 231.0, 246.0], [209.0, 196.0, 233.0], [179.0, 157.0, 219.0], [149.0, 117.0, 205.0], [126.0, 87.0, 194.0], [103.0, 58.0, 183.0], [94.0, 53.0, 177.0], [81.0, 45.0, 168.0], [69.0, 39.0, 160.0], [49.0, 27.0, 146.0], [232.0, 234.0, 246.0], [197.0, 202.0, 233.0], [159.0, 168.0, 218.0], [121.0, 134.0, 203.0], [92.0, 107.0, 192.0], [63.0, 81.0, 181.0], [57.0, 73.0, 171.0], [48.0, 63.0, 159.0], [40.0, 53.0, 147.0], [26.0, 35.0, 126.0], [227.0, 242.0, 253.0], [187.0, 222.0, 251.0], [144.0, 202.0, 249.0], [100.0, 181.0, 246.0], [66.0, 165.0, 245.0], [33.0, 150.0, 243.0], [30.0, 136.0, 229.0], [25.0, 118.0, 210.0], [21.0, 101.0, 192.0], [13.0, 71.0, 161.0], [225.0, 245.0, 254.0], [179.0, 229.0, 252.0], [129.0, 212.0, 250.0], [79.0, 195.0, 247.0], [41.0, 182.0, 246.0], [3.0, 169.0, 244.0], [3.0, 155.0, 229.0], [2.0, 136.0, 209.0], [2.0, 119.0, 189.0], [1.0, 87.0, 155.0], [224.0, 247.0, 250.0], [178.0, 235.0, 242.0], [128.0, 222.0, 234.0], [77.0, 208.0, 225.0], [38.0, 198.0, 218.0], [0.0, 188.0, 212.0], [0.0, 172.0, 193.0], [0.0, 151.0, 167.0], [0.0, 131.0, 143.0], [0.0, 96.0, 100.0], [224.0, 242.0, 241.0], [178.0, 223.0, 219.0], [128.0, 203.0, 196.0], [77.0, 182.0, 172.0], [38.0, 166.0, 154.0], [0.0, 150.0, 136.0], [0.0, 137.0, 123.0], [0.0, 121.0, 107.0], [0.0, 105.0, 92.0], [0.0, 77.0, 64.0], [232.0, 245.0, 233.0], [200.0, 230.0, 201.0], [165.0, 214.0, 167.0], [129.0, 199.0, 132.0], [102.0, 187.0, 106.0], [76.0, 175.0, 80.0], [67.0, 160.0, 71.0], [56.0, 142.0, 60.0], [46.0, 125.0, 50.0], [27.0, 94.0, 32.0], [241.0, 248.0, 233.0], [220.0, 237.0, 200.0], [197.0, 225.0, 165.0], [174.0, 213.0, 129.0], [156.0, 204.0, 101.0], [139.0, 195.0, 74.0], [124.0, 179.0, 66.0], [104.0, 159.0, 56.0], [85.0, 139.0, 47.0], [51.0, 105.0, 30.0], [249.0, 251.0, 231.0], [240.0, 244.0, 195.0], [230.0, 238.0, 156.0], [220.0, 231.0, 117.0], [212.0, 225.0, 87.0], [205.0, 220.0, 57.0], [192.0, 202.0, 51.0], [175.0, 180.0, 43.0], [158.0, 157.0, 36.0], [130.0, 119.0, 23.0], [255.0, 253.0, 231.0], [255.0, 249.0, 196.0], [255.0, 245.0, 157.0], [255.0, 241.0, 118.0], [255.0, 238.0, 88.0], [255.0, 235.0, 59.0], [253.0, 216.0, 53.0], [251.0, 192.0, 45.0], [249.0, 168.0, 37.0], [245.0, 127.0, 23.0], [255.0, 248.0, 225.0], [255.0, 236.0, 179.0], [255.0, 224.0, 130.0], [255.0, 213.0, 79.0], [255.0, 202.0, 40.0], [255.0, 193.0, 7.0], [255.0, 179.0, 0.0], [255.0, 160.0, 0.0], [255.0, 143.0, 0.0], [255.0, 111.0, 0.0], [255.0, 243.0, 224.0], [255.0, 224.0, 178.0], [255.0, 204.0, 128.0], [255.0, 183.0, 77.0], [255.0, 167.0, 38.0], [255.0, 152.0, 0.0], [251.0, 140.0, 0.0], [245.0, 124.0, 0.0], [239.0, 108.0, 0.0], [230.0, 81.0, 0.0], [251.0, 233.0, 231.0], [255.0, 204.0, 188.0], [255.0, 171.0, 145.0], [255.0, 138.0, 101.0], [255.0, 112.0, 67.0], [255.0, 87.0, 34.0], [244.0, 81.0, 30.0], [230.0, 74.0, 25.0], [216.0, 67.0, 21.0], [191.0, 54.0, 12.0], [239.0, 235.0, 233.0], [215.0, 204.0, 200.0], [188.0, 170.0, 164.0], [161.0, 136.0, 127.0], [141.0, 110.0, 99.0], [121.0, 85.0, 72.0], [109.0, 76.0, 65.0], [93.0, 64.0, 55.0], [78.0, 52.0, 46.0], [62.0, 39.0, 35.0], [250.0, 250.0, 250.0], [245.0, 245.0, 245.0], [238.0, 238.0, 238.0], [224.0, 224.0, 224.0], [189.0, 189.0, 189.0], [158.0, 158.0, 158.0], [117.0, 117.0, 117.0], [97.0, 97.0, 97.0], [66.0, 66.0, 66.0], [33.0, 33.0, 33.0], [236.0, 239.0, 241.0], [207.0, 216.0, 220.0], [176.0, 190.0, 197.0], [144.0, 164.0, 174.0], [120.0, 144.0, 156.0], [96.0, 125.0, 139.0], [84.0, 110.0, 122.0], [69.0, 90.0, 100.0], [55.0, 71.0, 79.0], [38.0, 50.0, 56.0], [205.0, 205.0, 205.0], [178.0, 178.0, 178.0], [151.0, 151.0, 151.0], [125.0, 125.0, 125.0], [100.0, 100.0, 100.0], [76.0, 76.0, 76.0], [54.0, 54.0, 54.0], [32.0, 32.0, 32.0], [9.0, 9.0, 9.0], [0.0, 0.0, 0.0]]

In [ ]:
#양저화 이전 컬러 데이터 로드
rgbData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/kulerData_data.csv', names=['R1', 'R2', 'R3', 'R4', 'R5', 'G1', 'G2', 'G3', 'G4', 'G5', 'B1', 'B2', 'B3', 'B4', 'B5' ])
ratingData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/kulerData_targets.csv', names=['rating'])
idData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/kulerData_ids.csv', names=['id'])
nameData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/kulerData_name.csv', names=['name'])

rgbRatingData = pd.concat([rgbData, ratingData, idData, nameData], axis=1)
rgbRatingData

             R1        R2  ...        id                           name
0      0.423530  0.627450  ...      50.0                 "Kind of Blue"
1      0.090196  0.090196  ...      53.0                   Ketan's Edit
2      0.200000  0.650980  ...      55.0  Ketan's Other Theme He Edited
3      0.058824  0.509800  ...      56.0                Ketan's Theme 1
4      0.172550  0.819610  ...      57.0                Ketan's Theme 0
...         ...       ...  ...       ...                            ...
44981  0.898040  0.949020  ...  872080.0                            NaN
44982  0.031373  0.105880  ...  872100.0                            NaN
44983  0.094118  0.843140  ...  872540.0                            NaN
44984  0.392160  0.631370  ...  872610.0                            NaN
44985  0.439220  0.619610  ...  872770.0                            NaN

[44986 rows x 18 columns]

In [ ]:
# rating이 높은 상위 3000개 추출
df = pd.DataFrame(rgbRatingData)
df_sorted = df.sort_values(by=['rating'], ascending=[False])
df_extracted = df_sorted[0:3000]
df_rgbExtracted = df_extracted.drop(df_extracted.columns[-1], axis=1)
df_rgbExtracted = df_rgbExtracted.drop(df_extracted.columns[-2], axis=1)
df_rgbExtracted
df_rgbExtracted.to_csv('gdrive/My Drive/colorPOOL/kulerData/kulerData.csv')

In [ ]:
#양자화가 안된 rating이 큰 상위 3000개의 theme 데이터 로드
themeData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/kulerData.csv')
ratingData = themeData.iloc[:,16:]
colorData = themeData.iloc[:,1:16]*255.0
#themeData = colorData+themeData.loc['id']
R1 = themeData.iloc[:,1]
R2 = themeData.iloc[:,2]
R3 = themeData.iloc[:,3]
R4 = themeData.iloc[:,4]
R5 = themeData.iloc[:,5]

G1 = themeData.iloc[:,6]
G2 = themeData.iloc[:,7]
G3 = themeData.iloc[:,8]
G4 = themeData.iloc[:,9]
G5 = themeData.iloc[:,10]

B1 = themeData.iloc[:,11]
B2 = themeData.iloc[:,12]
B3 = themeData.iloc[:,13]
B4 = themeData.iloc[:,14]
B5 = themeData.iloc[:,15]


themeData =  pd.concat([R1,G1,B1, R2,G2,B2, R3,G3,B3, R4,G4,B4, R5,G5,B5, ratingData], axis=1)
themeData.to_csv('gdrive/My Drive/colorPOOL/kulerData/kulerData.csv')

In [ ]:
#컬러 데이터 구하기
themeData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/kulerData.csv')
themeData

df1=themeData.iloc[:,1:4].reset_index(drop=True).rename(columns={"R1":'R',"G1":'G',"B1":'B'})
df2=themeData.iloc[:,4:7].reset_index(drop=True).rename(columns={"R2":'R',"G2":'G',"B2":'B'})
df3=themeData.iloc[:,7:10].reset_index(drop=True).rename(columns={"R3":'R',"G3":'G',"B3":'B'})
df4=themeData.iloc[:,10:13].reset_index(drop=True).rename(columns={"R4":'R',"G4":'G',"B4":'B'})
df5=themeData.iloc[:,13:16].reset_index(drop=True).rename(columns={"R5":'R',"G5":'G',"B5":'B'})

df_all=pd.concat([df1,df2,df3,df4,df5],axis=0).reset_index(drop=True)
df_all

              R        G         B
0      0.439220  0.28627  0.172550
1      0.050980  0.05098  0.050980
2      0.933330  0.56863  0.058824
3      0.768630  0.00000  0.000000
4      1.000000  0.98431  0.839220
...         ...      ...       ...
14995  0.164710  0.52549  0.600000
14996  0.372550  0.45098  0.400000
14997  0.011765  0.58824  0.650980
14998  0.949020  0.88235  0.552940
14999  0.090196  0.10196  0.121570

[15000 rows x 3 columns]

In [ ]:
df_all = df_all*255.0
df_all

                R          G          B
0      112.001100   72.99885   44.00025
1       12.999900   12.99990   12.99990
2      237.999150  145.00065   15.00012
3      196.000650    0.00000    0.00000
4      255.000000  250.99905  214.00110
...           ...        ...        ...
14995   42.001050  133.99995  153.00000
14996   95.000250  114.99990  102.00000
14997    3.000075  150.00120  165.99990
14998  242.000100  224.99925  140.99970
14999   22.999980   25.99980   31.00035

[15000 rows x 3 columns]

In [ ]:
def pow(x,y) :
  return x**y

In [ ]:
def rgb2lab(R, G, B) :
  var_R = R/255.0;
  var_G = G/255.0;
  var_B = B/255.0;


  if var_R > 0.04045 :
    var_R = pow( (( var_R + 0.055 ) / 1.055 ), 2.4 )
  else :
    var_R = var_R / 12.92
  if var_G > 0.04045 :
    var_G = pow( ( ( var_G + 0.055 ) / 1.055 ), 2.4)
  else :
    var_G = var_G / 12.92
  if var_B > 0.04045 : 
    var_B = pow( ( ( var_B + 0.055 ) / 1.055 ), 2.4)
  else :
    var_B = var_B / 12.92

  var_R = var_R * 100.
  var_G = var_G * 100.
  var_B = var_B * 100.

  X = var_R * 0.4124 + var_G * 0.3576 + var_B * 0.1805
  Y = var_R * 0.2126 + var_G * 0.7152 + var_B * 0.0722
  Z = var_R * 0.0193 + var_G * 0.1192 + var_B * 0.9505


  var_X = X / 95.047         
  var_Y = Y / 100.000          
  var_Z = Z / 108.883

  if var_X > 0.008856 :
    var_X = pow(var_X , ( 1./3. ) )
  else :
    var_X = ( 7.787 * var_X ) + ( 16. / 116. )
  if var_Y > 0.008856 :
    var_Y = pow(var_Y , ( 1./3. ))
  else :
    var_Y = ( 7.787 * var_Y ) + ( 16. / 116. )
  if var_Z > 0.008856 :
    var_Z = pow(var_Z , ( 1./3. ))
  else :
    var_Z = ( 7.787 * var_Z ) + ( 16. / 116. )

  l_s = ( 116. * var_Y ) - 16.
  a_s = 500. * ( var_X - var_Y )
  b_s = 200. * ( var_Y - var_Z )

  return [l_s, a_s, b_s]

In [ ]:
l=[]
a=[]
b=[]

for i in range(len(df_all)) :
  lab = rgb2lab(df_all['R'][i], df_all['G'][i], df_all['B'][i])
  l.append(lab[0])
  a.append(lab[1])
  b.append(lab[2])

In [ ]:
lab = pd.DataFrame({"L":l,"a":a,"b":b})
lab.head()

           L          a          b
0  34.785490  13.295458  23.964112
1   3.635462   0.000495  -0.000979
2  68.360101  27.432600  71.609398
3  40.793177  65.715338  55.142025
4  98.077060  -4.618685  18.232549

In [ ]:
lab.to_csv('gdrive/My Drive/colorPOOL/kulerData/kulerLabData.csv')

In [ ]:
labData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/kulerLabData.csv')
labData = labData.drop([labData.columns[0]], axis=1)
labData

               L          a          b
0      34.785490  13.295458  23.964112
1       3.635462   0.000495  -0.000979
2      68.360101  27.432600  71.609398
3      40.793177  65.715338  55.142025
4      98.077060  -4.618685  18.232549
...          ...        ...        ...
14995  51.658500 -20.057521 -17.912808
14996  46.516788 -10.223558   4.738773
14997  56.669408 -27.021119 -17.806902
14998  89.228965  -5.614224  43.125600
14999   9.155877   0.026516  -3.947187

[15000 rows x 3 columns]

In [ ]:
df1 = labData.iloc[0:3000].reset_index(drop=True).rename(columns={"L":'L1',"a":'a1',"b":'b1'})
df2 = labData.iloc[3000:6000].reset_index(drop=True).rename(columns={"L":'L2',"a":'a2',"b":'b2'})
df3 = labData.iloc[6000:9000].reset_index(drop=True).rename(columns={"L":'L3',"a":'a3',"b":'b3'})
df4 = labData.iloc[9000:12000].reset_index(drop=True).rename(columns={"L":'L4',"a":'a4',"b":'b4'})
df5 = labData.iloc[12000:15000].reset_index(drop=True).rename(columns={"L":'L5',"a":'a5',"b":'b5'})
themeData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/kulerData.csv')
df6 = themeData.iloc[:,16]
df6
labTheme = pd.concat([df1,df2,df3,df4,df5,df6],axis=1)
labTheme.to_csv('gdrive/My Drive/colorPOOL/kulerData/kulerLabData.csv')

In [ ]:
rgb_dec_colors
rgb_df = pd.DataFrame(rgb_dec_colors,columns=['R','G','B'])
rgb_df

         R      G      B
0    255.0  235.0  238.0
1    255.0  205.0  210.0
2    239.0  154.0  154.0
3    229.0  115.0  115.0
4    239.0   83.0   80.0
..     ...    ...    ...
195   76.0   76.0   76.0
196   54.0   54.0   54.0
197   32.0   32.0   32.0
198    9.0    9.0    9.0
199    0.0    0.0    0.0

[200 rows x 3 columns]

In [ ]:
l=[0]
a=[0]
b=[0]

for i in range(len(rgb_df)) :
  lab = rgb2lab(rgb_df['R'][i], rgb_df['G'][i], rgb_df['B'][i])
  l.append(lab[0])
  a.append(lab[1])
  b.append(lab[2])

In [ ]:
lab = pd.DataFrame({"L":l,"a":a,"b":b})
lab.head()

           L          a          b
0  94.674468   7.272035   0.990347
1  86.788382  18.376282   4.226070
2  72.091275  31.800817  13.288020
3  61.789696  44.137096  20.713261
4  57.188680  59.655813  34.994106

In [ ]:
lab.to_csv('gdrive/My Drive/colorPOOL/kulerData/ColorChipLabData.csv')

In [ ]:
# inverse_distance
def inverse_distance(a,b) :
  if a[0] == b[0] and a[1] == b[1] and a[2] == b[2] : #동일한 색인 경우
    return 1.0 
  return 1/(sum((a-b)**2))**(1/2)

In [ ]:
#colorChip과 유사도가 상위 10개 안에 드는 theme속의 컬러를 colorChip의 컬러로 치환

labThemeData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/kulerLabData.csv')
labThemeData = labThemeData.iloc[:,1:]
labThemeData
colorChipLabData = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/ColorChipLabData.csv')
colorChipLabData = colorChipLabData.iloc[:,1:]
colorChipLabData
recommandTheme = pd.DataFrame(columns=['themeid1','themeid2','themeid3','themeid4','themeid5','themeid6','themeid7','themeid8','themeid9','themeid10']) # color칩에 대한 추천 테마의 id를 저장할까 아니면 Lab값을 다 저장할까?

visited = [[False for j in range(5)] for i in range(3000)] # 테마내의 컬러가 컬러칩내의 컬러로 치환되었을 때 방문 표시

for i in range(len(colorChipLabData)) : #len(colorChipLabData)
  themeRow = []# 테마 데이터의 행 좌표
  themeCol = []# 테마 데이터의 열 좌표(L좌표)
  themeSim = []# 테마 데이터의 유사도 
  L1 = colorChipLabData.iloc[i,0] #colorChip의 L값
  a1 = colorChipLabData.iloc[i,1] #colorChip의 a값
  b1 = colorChipLabData.iloc[i,2] #colorChip의 b값
  color1 = np.array([L1, a1, b1]) #colorChip[i]를 numpy 배열로 저장
  
  for j in range(len(labThemeData)) : #len(labThemeData)
    for k in range(5) :
      L2 = labThemeData.iloc[j,3*k] #theme의 L값
      a2 = labThemeData.iloc[j,3*k+1] #theme의 a값
      b2 = labThemeData.iloc[j,3*k+2] #theme의 b값
      color2 = np.array([L2,a2,b2]) #theme의 컬러를 numpy 배열로 변환
      sim = inverse_distance(color1, color2); #유사도(거리의 역수 측정)
      themeRow.append(j)
      themeCol.append(k)
      themeSim.append(sim)

  themeSimData = list(zip(themeRow,themeCol,themeSim)) # 튜플리스트로 저장
  themeSimData = sorted(themeSimData, key=lambda x : x[2], reverse=True) #유사도의 내립차순으로 정렬
  
  # 상위 10개의 유사도를 가지는 theme 컬러에 대해서 colorChip데이터로 치환
  count = 0
  recommandThemeOne = []
  for j in range(len(themeSimData)) : 
    row = themeSimData[j][0]
    col = themeSimData[j][1]
    sim = themeSimData[j][2]
    #print(row, 3*col, sim)
    if visited[row][col] == False :
      labThemeData.iloc[row,3*col] = L1
      labThemeData.iloc[row,3*col+1] = a1
      labThemeData.iloc[row,3*col+2] = b1
      recommandThemeOne.append(row)
      visited[row][col] = True
      count += 1
    if count >= 10 : 
      break
  recommandTheme = recommandTheme.append(pd.Series(recommandThemeOne, index=recommandTheme.columns), ignore_index=True)

labThemeData.loc[0]

labThemeData.to_csv('gdrive/My Drive/colorPOOL/kulerData/kulerLabData2.csv')
recommandTheme.to_csv('gdrive/My Drive/colorPOOL/kulerData/recommandTheme.csv')

In [ ]:
def lab2rgb( l_s, a_s, b_s ) : 
  var_Y = ( l_s + 16. ) / 116.
  var_X = a_s / 500. + var_Y
  var_Z = var_Y - b_s / 200.

  if  pow(var_Y,3) > 0.008856 :
    var_Y = pow(var_Y,3)
  else :
    var_Y = ( var_Y - 16. / 116. ) / 7.787
  if  pow(var_X,3) > 0.008856 :
     var_X = pow(var_X,3)
  else :
    var_X = ( var_X - 16. / 116. ) / 7.787
  if  pow(var_Z,3) > 0.008856 :
    var_Z = pow(var_Z,3)
  else :
    var_Z = ( var_Z - 16. / 116. ) / 7.787

  X = 95.047 * var_X
  Y = 100.000 * var_Y   
  Z = 108.883 * var_Z    


  var_X = X / 100.
  var_Y = Y / 100.
  var_Z = Z / 100.

  var_R = var_X *  3.2406 + var_Y * -1.5372 + var_Z * -0.4986
  var_G = var_X * -0.9689 + var_Y *  1.8758 + var_Z *  0.0415
  var_B = var_X *  0.0557 + var_Y * -0.2040 + var_Z *  1.0570

  if  var_R > 0.0031308 :
    var_R = 1.055 * pow(var_R , ( 1 / 2.4 ))  - 0.055
  else : 
    var_R = 12.92 * var_R;
  if  var_G > 0.0031308 :
    var_G = 1.055 * pow(var_G , ( 1 / 2.4 ) )  - 0.055
  else :
    var_G = 12.92 * var_G
  if var_B > 0.0031308 :
    var_B = 1.055 * pow( var_B , ( 1 / 2.4 ) ) - 0.055
  else :
    var_B = 12.92 * var_B

  R = var_R * 255.
  G = var_G * 255.
  B = var_B * 255.

  return [R,G,B]

In [ ]:
# rgb로 변환
r=[]
g=[]
b=[]
rgbThemeData = pd.DataFrame(columns=['R1','G1','B1','R2','G2','B2','R3','G3','B3','R4','G4','B4','R5','G5','B5','rating'],dtype=float)

for i in range(len(labThemeData)) : #len(labThemeData)
  rgbData = []
  for j in range(5) :
    L = float(labThemeData.iloc[i,3*j])
    a = float(labThemeData.iloc[i,3*j+1])
    b = float(labThemeData.iloc[i,3*j+2])
    RGB = lab2rgb(L,a,b)
    rgbData.append(RGB[0])
    rgbData.append(RGB[1])
    rgbData.append(RGB[2])
  rgbData.append(labThemeData.iloc[i,15])
  rgbThemeData = rgbThemeData.append(pd.Series(rgbData,index=rgbThemeData.columns),ignore_index=True)
rgbThemeData.to_csv('gdrive/My Drive/colorPOOL/kulerData/kulerRGBdata.csv')